#list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: inline-block;
}

h3 {
    overflow: hidden;
    white-space: nowrap;
}

img:hover {
    -moz-box-shadow: 0 0 10px #ccc; 
    -webkit-box-shadow: 0 0 10px #ccc; 
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.5,1.5);
}